@import "./def";

#expo-container.-stretch {
  height: 100%;
  flex-grow: 1 !important;
  padding-top:4.5rem;
}


#expo-list {
  margin:0;
  display: grid;
  grid-template-columns: repeat(5, minmax(11.25rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  list-style: none;

  .item {
    .card {
      height: 85%;
      position: relative;
      --badge-bg: #022c22;
      --badge-border: #16a34a;
      background: #ffffff;
      border-radius: 0.875rem;
      overflow: hidden;
      box-shadow: 0 1.125rem 2.5rem rgba(15, 23, 42, 0.16);
      display: flex;
      flex-direction: column;
      transition: transform 0.18s
      ease, box-shadow 0.18s ease;
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 0.375rem 1.125rem #0000004d;
      }
    }

    .card_poster {
      width: 100%;
      aspect-ratio: 2/3;
      overflow: hidden;
      border-radius: 0.5rem;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .card_like-label {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.96);
        box-shadow: 0 0.375rem 1.125rem rgba(15, 23, 42, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;

        > .like-checkbox {
          display: none;

          &:checked + .like-icon {
            color: #f87171;
          }
        }

        > .like-icon {
          font-size: 1.5rem;
          color: #aeaeae;
        }
      }
    }

    .card_bottom {
      position: relative;
      padding: 1.125rem 1rem 0.875rem;
      background: #ffffff;
      margin-top: auto;
    }
    .card_title {
      display: -webkit-box;
      overflow: hidden;
      font-size: 0.95rem;
      font-weight: 600;
      line-height: 1.3;
      margin-top: 0.3rem;
      -webkit-line-clamp: 1; /* ← 이게 핵심: 최대 2줄 */
      -webkit-box-orient: vertical;
    }

    .card_subtitle {
      font-size: 0.8125rem;
      color: rgb(107, 114, 128);
      display: -webkit-box;
      -webkit-line-clamp: 1; /* ← 이게 핵심: 최대 2줄 */
      -webkit-box-orient: vertical;
    }
  }
}

