@import "./def";
@import "../def";

#filter-wrapper {
  width: $filter-container-width;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  padding-top: $filter-padding-area;
  margin-bottom: 4.5rem;
  border-radius: 0.5rem;

  #filter-container {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 0.8rem 2.5rem #A0A0A066;
    min-height: 76vh;
    background-color: #F5F5F5;
    border: 1px solid rgba(160, 160, 160, 0.4);


    .filter-section {
      min-height: 100%;
      display: none;
      padding: 0 1.5rem;
      background-color: #F5F5F5;
      flex-direction: column;

      &[data-tab="영화"] {
        display: block;
      }

      .array-title {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 2rem 0 0.5rem;
        color: #333333;
        border-bottom: 3px dashed #DEDEDE;
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.3rem;

        > .img{
          width: 2rem;
          height: 2rem;
        }
      }

      .filter-title {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 3rem 0 0.5rem;
        color: #333333;
        border-bottom: 3px dashed #DEDEDE;
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.3rem;

        > .img{
          width: 2rem;
          height: 2rem;
        }
      }

      select {
        width: 11.3rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        border: 2px solid #DEDEDE;
        background-color: #FFFFFF;
        color: #333333;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23A0A0A0" d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1.5em;
      }

      .filter-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        .label {
          font-size: 1.2rem;
          font-weight: 600;
          color: #333333;
          padding: 0.7rem 0;
        }

        label {
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #333333;

          input {
            transform: scale(1.2);
            accent-color: #A0A0A0;
            border-color: #DEDEDE;
          }
        }

        .date-range {
          display: flex;
          gap: 0.8rem;
          margin-top: 0.2rem;
          align-items: flex-start;
          align-self: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          padding: 0 0.95rem;
          margin-bottom: 0.25rem;

          label {
            font-size: 1rem;
          }

          input[type="date"] {
            width: 9.3rem;
            height: 2rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid #DEDEDE;
            font-size: 0.85rem;
            line-height: 2rem;
            background-color: #FFFFFF;
            color: #333333;
            &::-webkit-calendar-picker-indicator {
              filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
            }
          }
        }

        .genre {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          padding-bottom: 0.3rem;

          li {
            padding: 0.2rem 0.5rem;
            background: #F0F0F0;
            border-radius: 1rem;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.2s;
            border: 1px solid #DEDEDE;
            color: #333333;

            &:hover {
              background: #E0E0E0;
            }

            &.active {
              background: #A0A0A0;
              color: #fff;
              font-weight: 600;
              border-color: #A0A0A0;
            }
          }
        }
      }
    }

    .filter-block {
      padding-bottom: 1rem;

      .event {
        font-size: 1.3rem;
        font-weight: 700;
        color: #333333;
      }

      > .sub-label {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333333;
        padding: 0.7rem 0;
      }

      .event-type {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        li {
          padding: 0.2rem 0.5rem;
          background: #F0F0F0;
          border-radius: 1rem;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.2s;
          border: 1px solid #DEDEDE;
          color: #333333;

          &:hover {
            background: #E0E0E0;
          }

          &.selected {
            background: #A0A0A0;
            color: #fff;
            font-weight: 600;
            border-color: #A0A0A0;
          }
        }
      }

      label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 0.8rem;
        cursor: pointer;
        color: #333333;

        input {
          transform: scale(1.2);
          accent-color: #A0A0A0;
          border-color: #DEDEDE;
        }
      }
    }

    @media (max-width: 48rem) {
      #filter-container .filter-section .filter-block .date-range {
        flex-direction: column;
        display: flex;
        gap: 0.8rem;
      }
    }
  }

  .filter-search-btn {
    z-index: 10;
    width: 15rem;
    padding: 0.7rem 1.4rem;
    background: #A0A0A0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0.8rem 2.5rem #A0A0A066;
    transition: background 0.2s;
    &::before {
      content: "🔍 ";
    }

    &:hover {
      background: #777777;
    }
  }
}