#login-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;

  &.visible{
    display: block;
  }

  > .login-page{
    height: 100%;
    display: none;
    grid-template-rows: repeat(3, 1fr);
    position: relative;

    &.visible{
      display: grid;
    }

    > .dsc{
      background-color: #212121;

      > .image-wrapper{
        grid-row: 1/2;

        > .book1{
          top: 11%;
          left: 1.5%;
          height: 10rem;
          width: 10rem;
          position: absolute;
        }

        > .book2{
          top: 14%;
          right: 1.5%;
          height: 10rem;
          width: 10rem;
          position: absolute;
        }

        > .movie1{
          top: 13%;
          left: 23%;
          height: 11rem;
          width: 9rem;
          position: absolute;
        }

        > .movie2{
          top: -1%;
          right: 11.5%;
          height: 13rem;
          width: 15rem;
          position: absolute;
        }

        > .culture1{
          top: -2%;
          left: 10.5%;
          height: 13rem;
          width: 15rem;
          position: absolute;
        }

        > .culture2{
          top: 13%;
          right: 21.5%;
          height: 13rem;
          width: 13rem;
          position: absolute;
        }
      }

      > .content{
        color: #ffffff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > .main-text{
          font-size: 3rem;
          font-weight: 700;
        }

        > .ect-text{
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }

    > .login-warrap {
      grid-row: 2/4;
      background-color: #25272C;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      > .image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 1;
        }

        > .img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      > .login-form{
        background-color: #25272C;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 8rem;
        border-radius: 0.5rem;
        position: relative;
        z-index: 1;

        > .input-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;

          > .label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
            color: #ffffff;

            > .login-title{
              color: #ffffff;
              font-size: 1.3rem;
              padding-bottom: 0.7rem;
              font-weight: 500;
            }

            > .input{
              border: 0.0625rem solid #ffffff;
              border-radius: 0.1rem;
              padding: 0.7rem 1rem;
              width: 17rem;
              transition: border 0.1s ease;

              &::placeholder{
                font-size: 1rem;
              }

              &:focus{
                border: 0.0625rem solid #FF5C5C;
                outline: none;
              }
            }
          }

          > .login-button{
            display: flex;
            align-self: center;
            justify-content: center;
            margin: 0.3rem 0 2rem 0;
            background-color: #FF5C5C;
            padding: 0.5rem 1rem;
            width: 17.2rem;
            height: 2.5rem;
            border-radius: 0.2rem;
            cursor: pointer;
            align-items: center;
            font-weight: 500;
            color: #ffffff;

            &:hover{
              background-color: #E64E4E;
            }
          }
        }

        > .signup-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 0.5rem;
          z-index: 999;

          > .caption{
            color: #a0a0a0;
          }

          > .signup-button{
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  > .signup-page{
    display: none;
    height: 100%;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.visible{
      display: flex;
    }


    > .signup-form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(128, 128, 128, 0.3);
      border-radius: 0.5rem;
      width: 40rem;
      height: 32rem;

      > .input-wrapper{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;

        > .caption{
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 500;
          padding-bottom: 2.5rem;
        }

        > .label{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          padding-bottom: 1.5rem;
          color: #ffffff;

          > .input{
            border: 0.0625rem solid #ffffff;
            border-radius: 0.1rem;
            padding: 0.7rem 1rem;
            width: 17rem;
            transition: border 0.1s ease;

            &::placeholder{
              font-size: 1rem;
            }

            &:focus{
              border: 0.0625rem solid #FF5C5C;
              outline: none;
            }

          }
        }

        > .signup-submit-button{
          display: flex;
          align-self: center;
          justify-content: center;
          margin: 0.3rem 0 2rem 0;
          background-color: #FF5C5C;
          padding: 0.5rem 1rem;
          width: 17.2rem;
          height: 2.5rem;
          border-radius: 0.2rem;
          cursor: pointer;
          align-items: center;
          font-weight: 500;
          color: #ffffff;

          &:hover{
            background-color: #E64E4E;
          }
        }

        > .close-button{
          display: flex;
          align-self: center;
          justify-content: center;
          margin: -1rem 0 2rem 0;
          background-color: #9da1a4;
          padding: 0.5rem 1rem;
          width: 17.2rem;
          height: 2.5rem;
          border-radius: 0.2rem;
          cursor: pointer;
          align-items: center;
          font-weight: 500;
          color: #ffffff;

          &:hover{
            background-color: #747474;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  #login-container .login-page .dsc .image-wrapper .book1 {
    transform: scale(0.9);
    top: 8%;
    left: 2%;
  }
  #login-container .login-page .dsc .image-wrapper .book2 {
    transform: scale(0.9);
    top: 10%;
    right: 2%;
  }
  #login-container .login-page .dsc .image-wrapper .movie1 {
    transform: scale(0.8);
    top: 16%;
    left: 13%;
  }
  #login-container .login-page .dsc .image-wrapper .movie2 {
    transform: scale(0.7);
    top: -4.5%;
  }
  #login-container .login-page .dsc .image-wrapper .culture1 {
    transform: scale(0.8);
    top: -5%;
    left: 13%;
  }
  #login-container .login-page .dsc .image-wrapper .culture2 {
    transform: scale(0.8);
    top: 15%;
    right: 13%;
  }
}

@media (max-width: 1100px) {
  #login-container .login-page .dsc .image-wrapper .book1 {
    transform: scale(0.6);
    top: 8%;
    left: -1%;
  }
  #login-container .login-page .dsc .image-wrapper .book2 {
    transform: scale(0.7);
    top: 10%;
    right: -2%;
  }
  #login-container .login-page .dsc .image-wrapper .movie1 {
    transform: scale(0.6);
    top: 17%;
    left: 10%;
  }
  #login-container .login-page .dsc .image-wrapper .movie2 {
    transform: scale(0.6);
    top: -4.5%;
  }
  #login-container .login-page .dsc .image-wrapper .culture1 {
    transform: scale(0.7);
    top: -5%;
    left: 10%;
  }
  #login-container .login-page .dsc .image-wrapper .culture2 {
    transform: scale(0.6);
    top: 15%;
    right: 10%;
  }
}

@media (max-width: 800px) {
  .image-wrapper {
    display: none;
  }
}

@media (max-width: 800px) {
  .login-page .dsc .content .main-text {
    font-size: 2.5rem;
  }
}