@import "./def";

#main-container {
  @include flex(row, flex-start, flex-start,2);
  width: 100%;
  height: 100vh;
  padding: 0 7rem;
  background-color: #ffffff;

  > #wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

#book-search{
  position: relative;
  width: 70rem; /* 필요에 따라 조절 */
  margin: 2rem;
}

#book-search-input {
  width: 100%;
  padding: 1rem 2.5rem 1rem 0.75rem; /* 오른쪽 여백 확보 */
  border: 0.0625rem solid #ccc;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s;
}

#search-input:focus {
  border-color: #16a34a; /* 초록 포커스 */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('/assets/images/index/main/search.png'); /* 돋보기 이미지 */
  background-size: cover;
  background-position: center;
  pointer-events: none; /* 클릭이 input으로 전달되도록 */
}
