
#menu-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
}
#menu-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#menu-container > .-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#menu-container {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.8784313725);
  color: #ffffff;
  z-index: 999;
}


