
#menu-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
}
#menu-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#menu-container > .-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#menu-container {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.8784313725);
  color: #ffffff;
  z-index: 999;
}


body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 12 \2502    z-index: 1;\d\a    \2502              ^\a    \2575 \a   menu.scss 12:13  root stylesheet';
}
