@import "./def";
@import "../def";

#menu-container {
  @include flex (row, center, flex-start);
  position: fixed;
  width: 100%;
  height: $menu-height;
  background-color: #212121;
  color: #ffffff;
  z-index: 999;
  justify-content: space-between;
  overflow: hidden;

  > .category{
    @include flex (row, stretch, center);
    padding-left: 1.5rem;

    > .tab{
      font-size: 1rem;
      font-weight: 500;

      > .input{
        &:checked + .caption{
          background-color: #ffffff;
          color: #212121;
        }
      }

      > .caption{
        padding: 1.2rem 1.5vw;
        min-width: 4rem;
        max-width: 9rem;
        overflow: hidden;
        cursor: pointer;
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 0.9rem;
      }
    }
  }

  > .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: 'Cafe24MeongiBlack', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
  }

  > .my-nav{
    @include flex(row, flex-start, center, 0.7rem);
    margin-right: 1.5rem;
    margin-left: auto;

    > .button{
      padding-top: 0.9rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 1000px) {
  #menu-container .category .tab .caption{
    display: none;
  }

  #menu-container .category .tab:last-child .caption{
    display: inline-block;
  }
}