@import "./def";
@import "../def";

#menu-container {
  @include flex (row, center, flex-start);
  position: fixed;
  width: 100%;
  height: $menu-height;
  background-color: #000000e0;
  color: #ffffff;
  z-index: 999;

  > .category{
    @include flex (row, stretch, center, 2rem);
    padding-left: 5rem;

    > .tab{
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  > .my-nav{
    @include flex(row, flex-start, center, 0.7rem);
    margin-right: 1.5rem;

    > .button{
      cursor: pointer;
      padding: 0.5rem;
    }
  }
}

