@import "./def";

#splash-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  > .movie-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;

    &.active {
      position: relative;
      opacity: 1;
      pointer-events: auto
    }

    > .splash {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      z-index: 0;

      > .img {
        padding-top: $menu-height;
        padding-bottom: 10.5rem;
        position: absolute;
        width: 100%;
        height: 89%;
        object-fit: cover;
        object-position: center;
        transition: left 1s ease-in-out;
      }

      > .splashSide1 {
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        pointer-events: none;
        z-index: 1;
      }
    }

    > .top-five {
      position: absolute;
      top: 81%;
      left: 50%;
      z-index: 2;
      display: flex;
      transform: translate(-50%, -50%);
      flex-direction: row;
      gap: 2rem;
      justify-content: center;

      > .top {
        position: relative;
        > .img {
          position: relative;
          background-color: #21212190;
          width: 10rem;
          height: 15rem;
        }

        > .num {
          top: 70%;
          left: 0;
          font-family: 'Ria', sans-serif;
          position: absolute;
          color: #ffffff;
          font-size: 2rem;
          font-weight: 700;
        }

        > .title {
          color: #ffffff;
          font-size: 1rem;
          font-weight: 500;
          padding-top: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > .score{
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
        }
      }
    }
  }
  > .movie-main[data-tab="영화"] > .splash > .img{
    padding-bottom: 11.125rem;
  }
  > .movie-main[data-tab="영화"] > .splash::after{
    background: linear-gradient(to top,
            #2b2b2b 0%,
            #2b2b2b 30%,
            #2b2b2b 75%,
            #2b2b2b80 90%,
            #2b2b2b00 100%);
  }

  > .movie-main[data-tab="도서"] > .splash::after{
    background: linear-gradient(to top,
            #f5f1e8 0%,
            #f5f1e8 30%,
            #f5f1e8 75%,
            #f5f1e880 90%,
            #f5f1e800 100%);
  }

  > .movie-main[data-tab="전시/공연"] {
    background: linear-gradient(#251919, #000000);
  }
  > .movie-main[data-tab="전시/공연"] > .splash > .img{
    padding-bottom: 15rem;
  }
  > .movie-main[data-tab="전시/공연"] > .splash::after{
    background: linear-gradient(to top,
            #f5f1e8 0%,
            #f5f1e8 30%,
            #f5f1e8 75%,
            #f5f1e880 90%,
            #f5f1e800 100%);
  }

  > .movie-main[data-tab = "도서"],
  > .movie-main[data-tab = "전시/공연"]{
    > .top-five > .top{
      > .title{
        color: #212121;
      }
      > .score{
        color: #212121;
      }
    }
  }
}
