@mixin flex($flex-direction, $align-items, $justify-content, $gap: 0) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
  justify-content: $justify-content;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  > .-stretch {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
