<<<<<<< HEAD
@import "def";
=======
@import "./def";
>>>>>>> origin/sh
@import "./index/menu";
@import "./index/main";
@import "./index/filter";
@import "./index/poster";

body {
  @include flex (column, center, flex-start);
}

body > .box {
  background-color: #ffffff;
  border-radius: 0.25rem;
}